/*general styles*/

@font-face {
	font-family: 'Futura-Light';
	src: url(../fonts/Futura/FuturaPTLight_1.otf);
}

@font-face {
	font-family: 'GreatVibes-Regular';
	src: url(../fonts/GreatVibes/GreatVibes-Regular.ttf);
}

md-input-container{
	width: 100%;
}

#reqMsj{
	color: #ee334e;
	font-size: 0.786em;
}

#logo {
	margin-top: 15px;
	margin-bottom: 8px;
}

#logo h2{
	font-family: 'GreatVibes-Regular';
	display: inline;
	color: #fff;
}

.navbar{
	background: #170803;
	border: none;
	border-radius: 0;
}

#enlaces li a {
	color: #fff;
	margin-top: 7px;
}

#enlaces li a:hover{
	color: #faa026;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
	border-color: #484b53;
	color: #484b53;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
	color: #484b53;
}

/*landing styles*/

#landing{
	background-image: url(../imgs/landingphoto.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#text{
	margin-top: 230px;
}

#titles, #textInfo{
	text-align: center;
	margin-bottom: 20px;
}

#titles p{
	display: inline-block;
	font-size: 2.857em;
	font-family: 'Futura-Light';
	color: #fff;
	text-align: center;
}

#textInfo p{
	color: #fff;
	font-size: 1.286em;
	font-family: 'Futura-Light';
}

#text{
	margin-bottom: 300px;
	background: rgba(23,8,3, 0.7);
	padding-top: 20px;
	padding-bottom: 10px;
	border-radius: 7px;
}

/*registro styles*/

#regPlayer, #properties{
	background-color: #f0f2f1;
}

#playerForm{
	margin-top: 100px;
	margin-bottom: 100px;
}

#buttonLogo{
	background: #055561;
	border: none;
	border-radius: 7px;
	text-align: center;
	color: #fff;
	width: 100%;
}

#buttonLogo:hover{
	background: #076a7f;
}

#players .barName{
	text-align: center;
	padding-top: 10px;
	font-size: 1.143em;
	background-color: rgba(23,8,3, 0.7);
	color: #fff;
	font-family: 'Futura-Light';
	letter-spacing: 1px;
	margin-bottom: 15px;
}

#imgPlayer {
	border-radius: 50%;
}

#cardsSpace {
	height: 275px;
	overflow: scroll;
	direction: rtl;
	margin: 30px auto;
	box-shadow: 0 0 3px rgba(0,0,0,.4);
}

/* estilos de compra de propiedad */

#selectPlayer {
	width: 100%;
	background: inherit;
	outline: none;
	border-bottom: 1px solid #a1a2a2;
}

#infoBodyProp p span{
	font-weight: bold;
}
